/* reuse styles from login component */
.login-wrapper {
  height: 100vh;
  background: linear-gradient(135deg, #007bff 0%, #6610f2 100%);
}

.login-card {
  width: 400px;
  background: #fff;
  border: none;
}

.login-form label {
  font-weight: 500;
}

.alert {
  font-size: 0.9rem;
  border-radius: 10px;
}
